      #one {
        background-color: red;
        width: 50%;
        height: 25%;
        float: left;
      }
      #two {
        background-color: blue;
        width: 50%;
        height: 25%;
        float: left;
      }
